<div id="adventure-create">
  <mat-stepper #stepper class="stepper">
    <mat-step [stepControl]="nameForm">
      <form [formGroup]="nameForm">
        <ng-template matStepLabel>Nom de personnage</ng-template>
        <p>Bienvenue dans cette aventure de Loup Solitaire !</p>
        <p>Tout d'abord, veuillez choisir un nom pour votre personnage.</p>
        <input type="text" formControlName="characterName" />
        <div>
          <button matStepperNext class="btn-nav">Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="skillForm">
      <form [formGroup]="skillForm">
        <ng-template matStepLabel>Caractéristiques</ng-template>
        <p>
          Au cours de l'initiation qui vous a permis de devenir un Seigneur Kaï,
          vous avez acquis une force exceptionnelle ; les deux éléments
          essentiels de cette force sont représentés par votre HABILETÉ AU
          COMBAT et VOTRE ENDURANCE. Avant d'entreprendre votre mission, il vous
          faudra mesurer exactement le degré d'efficacité de votre entraînement.
        </p>
        <div class="mb-5">
          <label for="endurance"> ENDURANCE : </label>
          <input type="number" formControlName="endurance" id="endurance" />
          <button (click)="rollEndurance()" class="btn-nav">lancer dé</button>
        </div>
        <div class="mb-5">
          <label for="skill-points"> HABILETÉ : </label>
          <input type="number" formControlName="skillPoints" id="skill-points" />
          <button (click)="rollSkillPoints()" class="btn-nav">lancer dé</button>
        </div>
        <div>
          <button matStepperPrevious class="btn-nav mr-3">Précédent</button>
          <button matStepperNext class="btn-nav">Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="kaiDisciplineForm">
      <form [formGroup]="kaiDisciplineForm">
        <ng-template matStepLabel>Disciplines Kaï</ng-template>
        <p>
          Au cours des siècles, les Moines Kaï ont appris à maîtriser toutes les
          techniques du guerrier. Ces techniques sont connues sous le nom de
          Disciplines Kaï et enseignées aux Seigneurs Kaï. Pour votre part, vous
          n'avez été initié qu'à cinq des techniques décrites ci-dessous. Il
          vous appartient de choisir vous-même ces cinq disciplines. Chaque
          Discipline Kaï peut vous être utile à un moment ou à un autre de votre
          quête et votre choix devra être le plus judicieux possible : dans
          certaines circonstances, une habile mise en pratique de l'une de ces
          techniques peut vous sauver la vie.
        </p>
        <div class="mb-5">
          <label for="first-disc"> 1ere Discipline : </label>
          <select formControlName="firstKai" id="first-disc">
            @for (kai of kaiDisciplines; track kai) {
            <option [ngValue]="kai" [hidden]="kai.isSelected">
              <span>{{ kai.name }}</span>
            </option>
            }
          </select>
          <p>{{ descriptionFirstDisc }}</p>
          @if (kaiDisciplineForm.controls['firstKai'].value.name === "Maîtrise des armes" && masteredWeapon === '') {
          <button class="btn-nav" (click)="rollWeapon()">jeter les dés</button>
          }
        </div>
        <div class="mb-5">
          <label for="second-disc"> 2eme Discipline : </label>
          <select formControlName="secondKai" id="second-disc">
            @for (kai of kaiDisciplines; track kai) {
            <option [ngValue]="kai" [hidden]="kai.isSelected">
              {{ kai.name }}
            </option>
            }
          </select>
          <p>{{ descriptionSecondDisc }}</p>
        </div>
        <div class="mb-5">
          <label for="third-disc"> 3eme Discipline : </label>
          <select formControlName="thirdKai" id="third-disc">
            @for (kai of kaiDisciplines; track kai) {
            <option [ngValue]="kai" [hidden]="kai.isSelected">
              {{ kai.name }}
            </option>
            }
          </select>
          <p>{{ descriptionThirdDisc }}</p>
        </div>
        <div class="mb-5">
          <label for="fourth-disc"> 4eme Discipline : </label>
          <select formControlName="fourthKai" id="fourth-disc">
            @for (kai of kaiDisciplines; track kai) {
            <option [ngValue]="kai" [hidden]="kai.isSelected">
              {{ kai.name }}
            </option>
            }
          </select>
          <p>{{ descriptionFourthDisc }}</p>
        </div>
        <div class="mb-5">
          <label for="fifth-disc"> 5eme Discipline : </label>
          <select formControlName="fifthKai" id="fifth-disc">
            @for (kai of kaiDisciplines; track kai) {
            <option [ngValue]="kai" [hidden]="kai.isSelected">
              {{ kai.name }}
            </option>
            }
          </select>
          <p>{{ descriptionFifthDisc }}</p>
        </div>
        <div>
          <button matStepperPrevious class="btn-nav mr-3">Précédent</button>
          <button matStepperNext class="btn-nav">Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="itemForm">
      <form [formGroup]="itemForm">
        <ng-template matStepLabel>Inventaire</ng-template>
        <p>Au départ de votre aventure, vous êtes vêtu d'une tunique et d'une cape de Seigneur Kaï, toutes deux de
          couleur verte. Le matériel dont vous disposez pour assurer votre survie est par ailleurs réduit au minimum.
          Vous possédez une Hache et un Sac à Dos qui contient un Repas.</p>
        <p>Vous disposez également, accrochée à votre ceinture, d'une Bourse de Cuir qui contient des Pièces d'Or.</p>
        <div>
          <label for="start-gold"> Couronnes de départ (or) : </label>
          <input type="number" id="start-gold" formControlName="gold">
          <button (click)="rollGold()" class="btn-nav">lancer le dé</button>
        </div>
        <p>Dans les ruines fumantes du monastère détruit, vous avez découvert une Carte Géographique qui vous permet de
          vous orienter. Cette carte est soigneusement rangée dans une poche intérieure de votre tunique.</p>
        <p>Vous découvrez également un autre objet :</p>
        <div>
          <label for="random-item"> Objet de départ : </label>
          <input type="text" id="random-item" formControlName="item">
          <button (click)="rollItem()" class="btn-nav">lancer le dé</button>
        </div>
        <p>{{descriptionRandomItem}}</p>
      </form>
      <div>
        <button matStepperPrevious class="btn-nav mr-3">Précédent</button>
        <button matStepperNext class="btn-nav">Suivant</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Résumé</ng-template>
      <div class="summary-field">
        Nom du Héros : {{nameForm.controls['characterName'].value}}
      </div>
      <div class="summary-field">
        Habileté : {{skillForm.controls['skillPoints'].value}}
      </div>
      <div class="summary-field">
        Endurance : {{skillForm.controls['endurance'].value}}
      </div>
      <div class="summary-field">
        <span>Disciplines Kaï : </span>
        <ul class="pl-5">
          <li>{{kaiDisciplineForm.controls['firstKai'].value.name}}</li>
          <li>{{kaiDisciplineForm.controls['secondKai'].value.name}}</li>
          <li>{{kaiDisciplineForm.controls['thirdKai'].value.name}}</li>
          <li>{{kaiDisciplineForm.controls['fourthKai'].value.name}}</li>
          <li>{{kaiDisciplineForm.controls['fifthKai'].value.name}}</li>
        </ul>
      </div>
      <div class="summary-field">
        @if (isGettingGold) {
        <span>Couronnes de départ : {{itemForm.controls['gold'].value + 12}}</span>
        } @else {
        <span>Couronnes de départ : {{itemForm.controls['gold'].value}}</span>
        }
      </div>
      <div class="summary-field">
        <span>Inventaire : </span>
        <ul class="pl-5">
          <li>repas</li>
          <li>{{supplementaryItem}}</li>
          <li>{{secondSupplementaryItem}}</li>
        </ul>
      </div>
      <div class="summary-field">
        <span>Armes : </span>
        <ul class="pl-5">
          <li>Hache</li>
          <li>{{secondWeapon}}</li>
        </ul>
      </div>
    </mat-step>
  </mat-stepper>
</div>