<div id="adventure-create">
  <mat-stepper #stepper class="stepper">
    <mat-step [stepControl]="nameForm">
      <form [formGroup]="nameForm">
        <ng-template matStepLabel>Nom de personnage</ng-template>
        <p>Bienvenue dans cette aventure de Loup Solitaire !</p>
        <p>Tout d'abord, veuillez choisir un nom pour votre personnage.</p>
        <input type="text" formControlName="characterName" />
        <div>
          <button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="skillForm">
      <form [formGroup]="skillForm">
        <ng-template matStepLabel>Caractéristiques</ng-template>
        <p>
          Au cours de l'initiation qui vous a permis de devenir un Seigneur Kaï,
          vous avez acquis une force exceptionnelle ; les deux éléments
          essentiels de cette force sont représentés par votre HABILETÉ AU
          COMBAT et VOTRE ENDURANCE. Avant d'entreprendre votre mission, il vous
          faudra mesurer exactement le degré d'efficacité de votre entraînement.
        </p>
        <div class="mb-5">
          <label for="endurance"> ENDURANCE : </label>
          <input type="number" formControlName="endurance" id="endurance" />
          <button (click)="rollEndurance()">lancer dé</button>
        </div>
        <div class="mb-5">
          <label for="skill-points"> HABILETÉ : </label>
          <input
            type="number"
            formControlName="skillPoints"
            id="skill-points"
          />
          <button (click)="rollSkillPoints()">lancer dé</button>
        </div>

        <div>
          <button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="kaiDisciplineForm">
      <form [formGroup]="kaiDisciplineForm">
        <ng-template matStepLabel>Disciplines Kaï</ng-template>
        <p>
          Au cours des siècles, les Moines Kaï ont appris à maîtriser toutes les
          techniques du guerrier. Ces techniques sont connues sous le nom de
          Disciplines Kaï et enseignées aux Seigneurs Kaï. Pour votre part, vous
          n'avez été initié qu'à cinq des techniques décrites ci-dessous. Il
          vous appartient de choisir vous-même ces cinq disciplines. Chaque
          Discipline Kaï peut vous être utile à un moment ou à un autre de votre
          quête et votre choix devra être le plus judicieux possible : dans
          certaines circonstances, une habile mise en pratique de l'une de ces
          techniques peut vous sauver la vie.
        </p>
        <div class="mb-5">
          <label for="first-disc"> 1ere Discipline : </label>
          <select formControlName="firstKai" id="first-disc">
            @for (kai of kaiDisciplines; track kai) {
            <option [ngValue]="kai" [hidden]="kai.isSelected">
              {{ kai.name }}
            </option>
            }
          </select>
          <p>{{ descriptionFirstDisc }}</p>
        </div>
        <div class="mb-5">
          <label for="second-disc"> 2eme Discipline : </label>
          <select formControlName="secondKai" id="second-disc">
            @for (kai of kaiDisciplines; track kai) {
            <option [ngValue]="kai" [hidden]="kai.isSelected">
              {{ kai.name }}
            </option>
            }
          </select>
          <p>{{ descriptionSecondDisc }}</p>
        </div>
        <div class="mb-5">
          <label for="third-disc"> 3eme Discipline : </label>
          <select formControlName="thirdKai" id="third-disc">
            @for (kai of kaiDisciplines; track kai) {
            <option [ngValue]="kai" [hidden]="kai.isSelected">
              {{ kai.name }}
            </option>
            }
          </select>
          <p>{{ descriptionThirdDisc }}</p>
        </div>
        <div class="mb-5">
          <label for="fourth-disc"> 4eme Discipline : </label>
          <select formControlName="fourthKai" id="fourth-disc">
            @for (kai of kaiDisciplines; track kai) {
            <option [ngValue]="kai" [hidden]="kai.isSelected">
              {{ kai.name }}
            </option>
            }
          </select>
          <p>{{ descriptionFourthDisc }}</p>
        </div>
        <div class="mb-5">
          <label for="fifth-disc"> 5eme Discipline : </label>
          <select formControlName="fifthKai" id="fifth-disc">
            @for (kai of kaiDisciplines; track kai) {
            <option [ngValue]="kai" [hidden]="kai.isSelected">
              {{ kai.name }}
            </option>
            }
          </select>
          <p>{{ descriptionFifthDisc }}</p>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>
