<div class="text-slate-200 px-5">
  <h1 class="text-3xl my-5 text-center">Lone Wolf</h1>
  @if (result) {
  <div>
    <span>Bonjour {{ currentUser.userName }} !</span>
  </div>
  }
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt
    congue turpis, quis hendrerit leo porta quis. Nunc ut purus mi. Sed sagittis
    nisl libero, sagittis commodo nulla venenatis vel. Aliquam erat volutpat.
    Nullam massa mi, rutrum eget blandit vitae, imperdiet in turpis. In egestas
    et nunc sed pretium. Nam malesuada, dolor in consectetur tempus, ipsum
    tellus faucibus dolor, at ultrices nulla diam vel ipsum. Sed tristique,
    lorem id vehicula dapibus, sapien eros pellentesque sapien, a ultrices risus
    arcu et mi. Donec in cursus ipsum.
  </p>
  <p>
    Morbi elementum tellus at finibus fermentum. Pellentesque tristique lorem
    eros, in dictum tortor lobortis et. Aliquam felis purus, accumsan at semper
    ut, fringilla nec diam. Vestibulum tempus venenatis urna eget vehicula.
    Etiam nec lectus in tortor pulvinar pulvinar eget a orci. Nam venenatis
    nulla ut lectus bibendum consequat. Fusce in quam sollicitudin odio
    tristique ultrices. Sed quis sodales elit. Maecenas pretium arcu viverra,
    euismod ex venenatis, ultrices tortor
  </p>
  <p>
    Nam blandit ornare ligula, in sollicitudin justo blandit ut. Nam ac aliquam
    quam, eget pharetra purus. Quisque egestas lacus libero, eget elementum elit
    aliquet eget. Fusce elementum eros vel sem vulputate, in eleifend tortor
    malesuada. Nullam scelerisque sollicitudin ultricies. Sed eleifend nec nisl
    quis ornare. In ultrices nulla quis dui tempor, ut rutrum velit convallis.
  </p>
  <p>
    Donec nec consequat urna. Etiam consectetur eu arcu non semper. Maecenas id
    ex sed nisi convallis fermentum vitae sit amet nulla. Class aptent taciti
    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    Morbi ut metus ipsum. Morbi sit amet orci id nisl viverra faucibus et ac
    ligula. Donec enim ipsum, pulvinar tincidunt tellus sed, vehicula rhoncus
    dui. Praesent sodales semper dui, non tincidunt felis mattis quis.
  </p>
  <p>
    Pellentesque id erat consequat, aliquet risus non, consequat nisi. Nulla sed
    posuere risus, non consequat sem. Morbi ultrices urna id ligula semper
    pharetra. Mauris nec gravida est. Morbi et magna purus. Curabitur posuere
    sit amet nulla sollicitudin molestie. Proin eget est eu purus facilisis
    luctus. Praesent egestas orci lectus, a rhoncus dolor pharetra in. Quisque
    pellentesque semper sagittis.
  </p>
</div>
